<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolflix</title>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="./css/style.css">
    <!-- Vue JS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</head>
<body>
    <!-- Inizio esercizio Bollflix -->
    <div id="app" class="container">
        <header class="app-header">
             
        </header>
        <!-- Section search title -->
        <section class="new-search">
            <input type="text" 
                   placeholder="Inserisci un titolo" 
                   v-model="newSearch" 
                   @keyup.enter="addFilm"
            >
            <button @click="addFilm">Cerca</button>
        </section>

        <!-- Section films -->
        <section class="films-container">
            <ul v-if="films.length > 0">
                <li class="film" v-for="film in films">
                    <p class="title">{{film.title}}</p>
                    <p class="original-title">{{film.original_title}}</p>
                    <p class="language">{{film.language}}</p>
                    <p class="language">{{film.vote_count}}</p>
                </li>
            </ul>
        </section>
    </div>

    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- JS -->
    <script src="./js/main.js"></script>

    <!-- Fine esercizio Bollflix -->
</body>
</html>